<!DOCTYPE HTML>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./login.component.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="backg">
    <div class="row ">
        <div class="col-md-2 "></div>
        <div class="col-md-4 col-sm-12  adj ">
            <div class="f1">facebook</div>
            <div class="f2">Facebook helps you connect and share with the people in your life.</div>
        </div>

        <div class="col-md-4 col-sm-12 col-12 adj1">
            <div class="card mycard">

                <div class="container mt-3">


                    <form action="/action_page.php">
                        <div class="mb-3 mt-3">

                            <input type="text" class="form-control myinputbox" id="email"
                                placeholder="Email adress or phone number" name="email">
                        </div>
                        <div class="mb-3">

                            <input type="password" class="form-control myinputbox " id="pwd" placeholder="password"
                                name="pswd">
                        </div>
                        <div class="d-grid">
                            <button type="button1" class="btn btn-primary btn-lg">Log In</button>
                        </div>

                        <a href="w3 schools">
                            <p class="textcenter"> Forgotten password?</p>
                        </a>
                        <hr>
                        <div class="container mt-3">

                            <button type="button2" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                                data-bs-target="#myModal">
                                creat new account
                            </button>
                            <!-- The Modal -->
                            <div class="modal" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">


                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <div>
                                                <h1 class="modal-title">sign up</h1>
                                                <P>It's quick and easy</P>
                                            </div>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

                                        </div>


                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form action="/action_page.php">
                                                <div class="row">
                                                    <div class="col">
                                                        <input type="text" class="form-control" placeholder="First name"
                                                            name="first" required>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" class="form-control" placeholder="Surname"
                                                            name="last" required>
                                                    </div>
                                                    <div class="container mt-3">

                                                        <form action="/action_page.php">
                                                            <div class="mb-3 mt-3">

                                                                <input type="email" class="form-control" id="email"
                                                                    placeholder="moblie number or Email address"
                                                                    name="email" required>
                                                            </div>
                                                            <div class="mb-3">

                                                                <input type="password" class="form-control" id="pwd"
                                                                    placeholder="New password" name="pswd" required>
                                                            </div>
                                                            <div>
                                                                Date of birth<span
                                                                    style="background-color: grey;">?</span>

                                                            </div>
                                                          <div>
                                                            <button type="submit" class="btn btn-danger">Sign
                                                                Up</button>
                                                    </div>
                                            </form>
                                        </div>

                                    </div>
                    </form>
                </div>



            </div>
        </div>
    </div>
    </div>

    </form>




    </div>
    <p class="last"><a href=""><strong style="color:black;">Create a page</strong></a> for a celebrity,
        brand or business.</p>
    </div>
    </div>
    <div class="col-md-2 "></div>
    </div>
</body>

</html>
