<div class="boundry back Inn">

<nav>
  
    <div class="DI w-1"><a routerLink="/home" routerLinkActive="active">Home</a></div>
    <div class="DI w-1"><a routerLink="/aboutus" routerLinkActive="active">Aboutus</a></div>
    <div class="DI w-1"><a routerLink="/contactus" routerLinkActive="active">Contactus</a></div>
    <div class="DI w-1 float"><a routerLink="/login" routerLinkActive="active">Login</a></div>
    <div class="DI w-1 float"><a routerLink="/creataccount" routerLinkActive="active">Creataccount</a></div>
</nav>
<router-outlet></router-outlet>