<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="./home.component.css">

    <link href="/css/fontawesome-free-5.15.4-web (1)/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
</head>

<body>
    <div class="In">
        <div class="boat w-5"><i class="fab fa-wordpress-simple"></i></div>
        <div class="boat w-5 F">Tutorials<i class="fas fa-sort-down"></i></div>
        <div class="boat w-5 F">References<i class="fas fa-sort-down"></i></div>
        <div class="boat w-5 F">Exercises<i class="fas fa-sort-down"></i></div>
        <div class="boat  F">videos <span class="bod ">new </span></div>
        <input type="button" name="login" value="Log in">
        <div class="boat   relative">Paid Course</div>
        <div class="boat F rela">Website<span class="bod ">new</span></div>


    </div>
    <div class="boundry back Inn">
        <i class="fas fa-home w-1"></i>
        <div class="DI  w-1">HTML</div>
        <div class="DI  w-1">CSS</div>
        <div class="DI  w-2">JAVASCRIPT</div>
        <div class="DI  w-1">SQL</div>
        <div class="DI  w-1">PYTHON</div>
        <div class="DI  w-1">PHP</div>
        <div class="DI  w-2">BOOTSTRAP</div>
        <div class="DI  w-2">HOW TO</div>
        <div class="DI  w-1">W3.CSS</div>
        <div class="DI  w-1">JAVA</div>
        <div class="DI  w-2">JQUERY</div>
        <div class="DI  w-1">C++</div>
        <i class="fas fa-dot-circle w-1 float"></i>
        <i class="fas fa-globe-asia w-1 float"></i>
        <i class="fas fa-search w-1 float"></i>

    </div>
    <div class="bac">
        <div class="mar">HTML Tutorials</div>
        <div class="marg">HTML HOME</div>
        <div class="marg">HTML Introduction</div>
        <div class="marg">HTML Eaditors</div>
        <div class="marg">HTML Basic</div>
        <div class="marg">Elements</div>
        <div class="marg">Elements</div>
        <div class="marg">Elements</div>
        <div class="marg">Elements</div>
        <div class="marg">HTML Attributes</div>
        <div class="marg">HTML Headings</div>
        <div class="marg">HTML Paragraphs</div>
        <div class="marg">HTML Style</div>
        <div class="marg">HTML Formatting</div>
        <div class="marg">HTML Quotations</div>
        <div class="marg">HTML Comments</div>
        <div class="marg">HTML Colors</div>
        <div class="marg">HTML CSS</div>
        <div class="marg">HTML Links</div>
        <div class="marg">HTML Images</div>
        <div class="marg">HTML Favicon</div>
        <div class="marg">HTML Tables</div>
        <div class="marg">HTML Lists</div>
        <div class="marg">HTML Block & Inline</div>
        <div class="marg">HTML Classes</div>
        <div class="marg">HTML ID</div>
        <div class="marg">HTML Iframes</div>
        <div class="marg">HTML JavaScript</div>
        <div class="marg">HTML File Paths</div>
        <div class="marg">HTML Head</div>
        <div class="marg">HTML Layout</div>
        <div class="marg">HTML Responsive</div>
        <div class="marg">HTML Computercode</div>
        <div class="marg">HTML Semantics</div>
        <div class="marg">HTML Style Guide</div>
        <div class="marg">HTML Entities</div>
        <div class="marg">HTML Symbols</div>
        <div class="marg">HTML Emojis</div>
        <div class="marg">HTML Charset</div>
        <div class="marg">HTML URL Encode</div>
        <div class="marg">HTML vs.XHTML</div>
        <div class="marg">HTML Forms</div>
        <div class="mar">HTML Forms </div>
        <div class="marg">HTML Style</div>
        <div class="marg">HTML Style</div>

    </div>
    <div class="">
        <div class="M">HTML Tutorials</div>

        <input type=button1 value="Home"> <i class="fas fa-chevron-left a" style="color: white;"></i>
        <input type=button2 value="Next"><i class="fas fa-chevron-right b" style="color: white;"></i>

        <div class="BODER ">
            <div class="bo">HTML is the standard markup language for Web pages.</div>
            <div class="bo">With HTML you can create your own Website.</div>
            <div class="bo"> HTML is easy to learn - You will enjoy it!</div>
        </div>
    </div>
</body>

</html>
